<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email confirmation</title>
</head>
<body>
<h1>Подтвердите ваш email</h1>
<p>Мы отправили ссылку для подтверждения на ваш email: <%= email %>. Пожалуйста, проверьте почту и следуйте инструкциям.</p>
</body>
</html>